name: ci

on:
  push:
    paths:
      - 'src/**'
      - 'build.gradle'
      - '.github/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 11.0.2
    - name: build
      run: ./gradlew build --stacktrace
    - name: archive artifacts
      uses: actions/upload-artifact@v1
      if: success()
      with:
        name: artifacts
        path: build/libs
    - name: archive test results
      uses: actions/upload-artifact@v1
      if: always()
      with:
        name: test results
        path: build/reports
